name: Build Flatpak repo
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Flatpak Builder
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak-builder elfutils
          flatpak remote-add --if-not-exists --user flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak install --user -y flathub org.gnome.Sdk//45 org.gnome.Platform//45
      - uses: andyholmes/flatter@main
        with:
          files: |
            org.bobtail.Softstore.yml
          gpg-sign: ${{ secrets.GPG_KEY_ID }}
          gpg-import: ${{ secrets.GPG_PRIVATE_KEY }}
          upload-pages-artifact: true
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions: 
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
