name: Build Flatpak repo
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: andyholmes/flatter@main
        with:
          files: |
            org.bobtail.Softstore.yml
          gpg-sign: ${{ secrets.GPG_KEY_ID }}
          gpg-import: ${{ secrets.GPG_PRIVATE_KEY }}
          repo-title: "Bobtail Softstore"
          upload-pages-artifact: true
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions: 
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
