name: Build Flatpak repo
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: andyholmes/flatter@main
        with:
          files: |
            org.bobtail.Softstore.yml
          upload-pages-artifact: true
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions: 
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.output }}$
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
